:root {
    --preto: #0000;
    --azul-escuro: #1E0E62;
    --branco: #FFFFFF;
    --font: 'DM Sans';
    --roxo: #482BE7;
    --cinza: #A1A1B0;
    --verde-agua: #25DAC5;
}


.testemunhas{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}

.container__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}

.text_feature {
    color: var(--cinza);
    width: 803px;
    text-align: center;
}

.container_features__content {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

.container_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #EBEAED;
    border-radius: 10px;
    padding: 60px 46px 84px 48px;
}

.imagem_box {
    width: 40px;
    height: 38px;
}

.title_box {
    font-size: 22px;
    font-weight: 500;
}

.text_box {
    text-align: center;
    color: var(--cinza);
    width: 276px;
    font-weight: 400;
}

.title_testemunhas {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-size: 42px;
}

.clientes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 61px;
}

.container_clientes_first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
}

.container_client {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 30px;
    display: flex;
    width: 470px;
    gap: 30px;

}


.text {
    font-weight: 500;
    font-size: 18px;
    color: var(--cinza);
    line-height: 28px;
    margin-bottom: 19px;
}

.client_name{
    font-weight: 700;
    font-size: 14px;
    color: var(--azul-escuro);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3px;

}

.company_name{
    font-size: 16px;
    color: var(--cinza);
}