:root {
    --preto: #0000;
    --azul-escuro: #1E0E62;
    --branco: #FFFFFF;
    --font: 'DM Sans';
    --roxo: #482BE7;
    --cinza: #A1A1B0;
    --verde-agua: #25DAC5;
}

.botoes__header_features {
    font-weight: 700;
    text-decoration: none;
}

.botoes__header_clients{
    font-weight: 400;
    text-decoration: none;
}

.container__features__texts_boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__features {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}

.text_feature {
    color: var(--cinza);
    width: 803px;
    text-align: center;
}

.container_features__content {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

.container_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #EBEAED;
    border-radius: 10px;
    padding: 60px 46px 84px 48px;
}

.imagem_box{
    width: 40px;
    height: 38px;
}

.title_box{
    font-size: 22px;
    font-weight: 500;
}

.text_box{
    text-align: center;
    color: var(--cinza);
    width: 276px;
    font-weight: 400;
}