:root {
    --preto: #0000;
    --azul-escuro: #1E0E62;
    --branco: #FFFFFF;
    --font: 'DM Sans';
    --roxo: #482BE7;
    --cinza: #A1A1B0;
    --verde-agua: #25DAC5;
}

.container_startnow {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startnow_texts {
    display: flex;
    flex-direction: column;
    gap: 24.4px;
    margin-bottom: 47.6px;
}

.title_startnow {
    font-size: 58px;
    font-weight: 700;
}

.text_startnow {
    font-size: 22px;
    font-weight: 500;
    color: var(--cinza);
}

.input_button{
    display: flex;
    gap: 1.87rem;
}

.contato_email {
    border-radius: 100px;
    border: 2px solid var(--cinza);
    font-weight: 500;
    border: 2px solid  #EBEAED;
    padding: 1.13rem 18rem 1rem 1.5rem;
    margin-left: 10px;
}

input::placeholder{
    color: var(--cinza);
    font-family: var(--font);
    font-size: 20px;
    font-weight: 500;
}

.container_startnow_inscrição{
    text-decoration: none;
    color: var(--branco);
    background-color: var(--verde-agua);
    border-radius: 100px;
    padding: 1.06rem 1.5rem;
}

.startnow_message{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza);
}